block variables 

doctype html 
html(lang="en")
  head 
    include layouts/head.pug

  include layouts/preloader.pug
  include layouts/navigation.pug
  .cursor 
    canvas.cursor__canvas
  
  body
    .content#content(data-template=template)
      block content

  if isProduction 
    script(type="module", src="assets/index-C35Gh69l.js")
  else
    script(type="module", src="/src/app/index.js")

  script.
    window.PROJECTS = !{JSON.stringify(projects)}

